.header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: white;
    border-bottom-width: 1px;
    border-bottom-color: rgb(228, 228, 228);
    border-bottom-style: solid;
    
}
.left_section{
    width: 250px;
    margin-left: 200px;

}
.name_of_du_site{
    font-size: 20px;
    margin-left: 0px;
}


.middle_section{
    margin-left: 23px;
    margin-right: 23px;
    flex: 1;
    
    display: flex;
    align-items: center;
    justify-content: center;

}
.search_bar_container{
    display: flex;
    align-items: center;
    background-color: rgb(245, 245, 245);
    height: 37px;
    width: 300px;
    border-radius: 10px;
    z-index: 2;
    

}
.search_icon{
    width: 20px;
    height: 20px;
    margin-left: 12px;
    margin-right: 12px;
margin-bottom: 4px;

}
.search_bar{
    height: 16px;
    width: 268px;
    background-color: rgb(245, 245, 245);
   outline: none;
    border: none;
   
}
.search_bar::placeholder{
  font-size: 16px;
  color: rgb(167, 167, 167);
  margin-left: 23px;
  
}

.right_section{
    width: 250px;
   
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 200px;
}
.profil_container img{
width: 24px;
}
.right_section div{
    margin-left: 34px;

}




   